language: node_js
node_js:
  - "5"
  - "5.1"
  - "4"
  - "4.2"
  - "4.1"
  - "4.0"
  - "0.12"
  - "0.11"
  - "0.10"
  - "iojs"
  - "node"
branches:
  only:
    - master
    - devel
install: "npm install"
script:
  - "npm test"
  - "npm run profile-test"
after_success: "npm run coveralls"
